body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: #000000;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
    flex-grow: 1;
}

.intro {
    background-color: #49959f;
    flex-direction: row; 
    justify-content: center;
    align-items: center;
}

.text-block {
    width: 60%; 
    padding: 320px;
    text-align: center;
}

.side-photo {
    width: 200px;
    height: 200px;
    margin: 0 20px;
}

.projects {
    background-color: #49959f;
    flex-direction: row; 
    justify-content: space-around; 
    padding-top: 230px;
    padding-bottom: 230px;
}

.project {
    background-color: #ffffff;
    padding: 30px; 
    width: 450px; 
    height: 450px; 
    text-align: center;
    color: #003B46;
}

.footer {
    background-color: #13282e;
    color: #F9F9FA;
    text-align: center;
    padding: 40px;
}

.social-links a {
    color: #F9F9FA;
    margin: 0 10px;
}

a {
    color: #66A5AD;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 50px;
}
p {
    font-size: 17px;
}
.about {
    background-color: #01404b;
    color: #ffffff;
    text-align: center;
    padding: 200px;
}
.lox {
    background-color: #49959f;
    flex-direction: row; 
    justify-content: center;
    align-items: center;
}
